body {
  color:aliceblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-image: url(../public/waves.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Logo{
  color: aliceblue;
  margin: 50px;
  font-size: 40px;
}

.portfolio-item{
color:aliceblue
}

.Header{
 display:flex;
 justify-content: space-between;

}

.grid-item{
  color:rgb(255, 255, 255)
}

.Button{
  color:aquamarine;
  margin: 5px;
}

.text{
  color: aliceblue;
  margin: 5px;
}